<table>
  <tr>
    <th scope="col" class="title">Titel</th>
    <th scope="col" class="time">Pågår</th>
    <th scope="col">Spår</th>
    <th scope="col" class="modified">Senast ändrad</th>
    <th scope="col" class="actions">Åtgärder</th>
  </tr>
  <% list.forEach(function(el) { %>
    <tr>
      <td class="title"><%= el.title %></td>
      <td class="time"><%= strftime('%R', new Date('1970-01-01 ' + el.start)) + ' - ' + strftime('%R', new Date('1970-01-01 ' + el.stop)) %></td>
      <td><%= el.category === 0 ? 'Marknad' : 'Teknik' %></td>
      <td class="modified"><%= prettydate(new Date(el.modified)) %></td>
      <td class="actions">
        <form action="/admin/agenda/<%= encodeURIComponent(el.id) %>?_method=delete" method="post">
          <div>
            <a href="/admin/agenda/<%= encodeURIComponent(el.id) %>#agenda" class="button">Ändra</a>

            <button class="danger" type="submit" name="remove">Ta bort</button>
          </div>
        </form>
      </td>
    </tr>
  <% }); %>
</table>
